label {
  display: block;
  margin: 1.5rem 0;
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
}

.login,
.signup {
  width: 40%;
  margin: 2rem auto;
}

.btn-primary {
  background-color: rgba(5,44,111,.95);
  font-size: 2rem;
  height: 4rem;
}

@media (max-width: 750px) {
  label {
    font-size: 2rem;
  }

  .login,
  .signup {
    width: 60%;
  }
}