th {
  vertical-align: none;
}

button {
  width: fit-content;
}

.table {
  width: 96%;
  margin: 2rem auto; 
}

.fetch-image {
  width: 60rem;
}

.table-title {
  margin-top: 2rem;
}

.table-container {
  display: flex;
  align-items: center;
}

.table-head {
  font-size: 1.5rem;
}

.cells {
  display: grid;
  place-items: center;
}