body {
  font-family: 'Open Sans';
}

@media (max-width: 1500px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  :root {
    font-size: 11px;
  }
}

@media (max-width: 1150px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 7px;
  }
}

